streamlit
openai
qdrant
transformers~=4.36.0.dev0
python-docx
python-pptx
pymupdf
mammoth
requests
openpyxl
azure-identity 
azure-keyvault-secrets
langchain-text-splitters
qdrant-client
langchain_community
sentence_transformers
langchain-qdrant
